.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 13em 0;
  padding: 20px;
}

.wrapper {
  background-color: #fff;
  padding: 48px;
  border-radius: 12px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.06);
  max-width: 450px;
  width: 100%;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #111;
}

.subtitle {
  font-size: 14px;
  color: #555;
  margin-bottom: 32px;
}

.socialButton,
.socialButtonBlack {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 15px;
  width: 100%;
  cursor: pointer;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  transition: background 0.2s ease;
}

.socialButton {
  background-color: white;
}

.socialButton:hover {
  background-color: #f0f0f0;
}

.socialButtonBlack {
  background-color: #000;
  color: white;
  border: none;
}

.socialButtonBlack:hover {
  background-color: #222222;
}

@media screen and (max-width: 480px) {
  .wrapper {
    padding: 32px 24px;
  }

  .title {
    font-size: 20px;
  }

  .subtitle {
    font-size: 13px;
  }
}
